<html ng-app='boilerplate'>
  <head>
    <base href="/" />
    <title>NodeAngular Boilerplate</title>

    <!-- AngularJS -->
    <script src='vendor/angular.min.js'></script>
    <script src='vendor/angular-animate.js'></script>
    <script src='vendor/angular-sanitize.js'></script>
    <script src='vendor/angular-ui-router.js'></script>
    <script src='vendor/ngStorage.js'></script>
    <script src='vendor/underscore.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

    <!-- font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <navigation></navigation>

    <div class='content-wrapper'>
      <ui-view></ui-view>
    </div>
  </body>

  <!-- ngApp -->
  <script src='ngApp/ngApp.js'></script>

  <!-- Controllers -->
  <script src='ngApp/controllers/initCtrl.js'></script>
  <script src='ngApp/controllers/homeCtrl.js'></script>
  <script src='ngApp/controllers/navCtrl.js'></script>

  <!-- Services -->

  <!-- Directives -->
  <script src='/ngApp/directives/navigation.js'></script>

  <!-- Styles -->
  <link rel='stylesheet' href='css/styles.css' />
</html>
